body {
    background-color: black;
    color: white;
    font-family: Poppins, serif;
}


h1 {
    text-align: center;
}

.frame {
    font-family: Poppins, serif;
    align-content: center;
    display: block;

    width: 800px;
    height: 550px;
    margin: 20vh auto;
    text-align: center;

    border-radius: 20px;
    border:none;

    background: linear-gradient(black, darkred, black);

    color: white;

    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

img {
    width: 300px;
    position: relative;
    right: 220px;
    border-radius: 20px;
}

#user {
    margin-top: 30px;
    position: relative;

    bottom: 470px;
    left: 160px;

}

input[type="submit"] {
    margin-top: 10px;
    margin-bottom: 50px;

    font-family: Poppins, serif;
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 10px;
    color: white;

    background-color: black;
}

input[type="submit"]:hover {
    cursor: pointer;
}

input[type="email"], input[type="password"], input[type="tel"], input[type="text"]  {
    font-family: Poppins, serif;
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 10px;
    color: white;

    background-color: black;
}

#signUp {
    line-height: 2;
}


a{
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: revert;
}


