<!-- <h1> Item Name : {{itemName}}</h1>
<input type="text" [value]="itemName" [disabled]="val"/>

<input [(ngModel)] = "itemName"/>

<button type="button" (click)="enable()">Enable</button> -->

<header>
    <div class="left-components">

        <div class="menu">
            <div class="container">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
              </div>
        </div>

        <a id="site-name" href="/src/app/app-component/app.component.html">Sneakers And Cream</a>
    </div>

    <div class="right-components">
        <a href="" class="upper-items">Cart</a>
        <a class="upper-items">Wishlist</a>
        <div id="right-cat" class="upper-items"> <i class="fa fa-user-circle"></i> Account</div>
    </div>

</header>

<app-contact></app-contact>

